.dropdownlist_ali:hover #leveled_list_item{
    display: block;
    position: absolute;
    border: 1px solid #999999;
    margin-left: 7px;
    right: 0;
    color: black;
    background-color: whitesmoke;
    z-index: 999;
    padding: 3px;
    transform: translate(100%, -100%);
}
#leveled_list_item{
    display: none;
}
