/*.bg {*/
    /*margin-top: 55px;*/
    /*!* The image used *!*/
    /*background-image: url("{{ asset('assets') }}/images/homePageImage.jpg");*/

    /*!* Full height *!*/
    /*height: 920px;*/

    /*!* Center and scale the image nicely *!*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/

/*#notify{*/
    /*display: block;*/
    /*float: right;*/
    /*color: black;*/
/*}*/

/*#notify:hover{*/
    /*color: red;*/
/*}*/

/*#notify .badge{*/
    /*background-color: red;*/
/*}*/

/*.hide{*/
    /*display: none;*/
/*}*/

.modal{
    bottom: auto;
    overflow-y: hidden;
}

/*sup{*/
    /*top: -1em;*/
/*}*/

/*.output {*/
    /*font: 1rem 'Fira Sans', sans-serif;*/
/*}*/

/*.inpt {*/
    /*margin: .4rem;*/
/*}*/

/*.lbl {*/
    /*display: inline-block;*/
    /*text-align: right;*/
    /*width: 20%;*/
/*}*/

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

tbody tr td{
    color: black;
}

.modal-dialog {
    transform: translateY(-5%) !important;
}

table.dataTable thead th, table.dataTable thead td{
    /*text-align: left!important;*/
    padding: 1px 2px !important;
    word-break: break-all !important;
}

table.dataTable tbody th, table.dataTable tbody td{
    /*text-align: left!important;*/
    padding: 1px 2px !important;
    word-break: break-all !important;
}

table.dataTable tfoot th, table.dataTable tfoot td{
    padding: 0;
    font-size: 12px;

}

select{
    word-wrap: break-word;      /* IE*/
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: pre-wrap;      /* other browsers */
    width:150px;
    display:inline-block
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #00ccff;
}

.btn{
    /*font-size: 12px;*/
    padding: 2px 6px!important;
}

.fa{
    font-size: 14px;
}
.glyphicon{
    font-size: 14px;
}
.alert{
    padding: 0 5px;
    margin-bottom: 5px;
}

.dataTables_scrollBody thead tr[role="row"]{
    visibility: collapse !important;
}

.dataTables_filter input { width: 600px }

.modal-body {
    max-height: calc(100vh - 200px);
    min-height: 370px;
    overflow-y: auto;
    padding-top: 0;
}

.modal-dialog {
    width: calc(100% - 100px);
}

.table > tbody > tr > td{
    font-size: 12px;
    line-height: 20px;
}

.table > thead > tr > th {
    font-weight: bold;
}

table{
    border-color: grey!important;
}

table tr, td, th{
    border-color: grey!important;
}
.form-control{
    height: 30px;
    border-color: grey;
}

.form-control:hover{
    border-color: black;
}

.alert{
    padding: 3px;
    margin-bottom: 5px;
}

.modal-open {
    overflow: scroll;
}

.panel-body{
    padding-top: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    border-color: black;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    color: black!important;
}